.productSlider {
  & :global(div.slick-track) {
    display: flex;
    padding: 0 8px;
  }

  & :global(div.slick-slide) {
    display: flex !important;
    float: none;
  }

  & :global(div.slick-slide[aria-hidden='true'] [data-testid='RibbonComponent']) {
    opacity: 0;
    transition: all 300ms ease-in-out;
  }

  & :global(div.slick-slide[aria-hidden='false'] [data-testid='RibbonComponent']) {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }

  & :global(div.slick-slide > div) {
    width: 100%;
    height: 100%;
    padding: 0 8px;
  }

  & :global(div.slick-list) {
    display: flex;
    overflow: hidden;
  }
}

@media (min-width: 1366px) {
  .productSlider {
    & :global(div.slick-list) {
      overflow: hidden;
      min-width: var(--container-3xl);
    }

    & :global(div.slick-track) {
      padding: 0;
    }
  }
}
