@import 'tailwindcss';

@theme {
  --max-w-container-default: 1200px;
  --max-w-container-large: 1300px;
  --breakpoint-xs: 22.5rem;
  --breakpoint-1xl: 85.375rem;
  --breakpoint-3xl: 120rem;
  --font-sans: 'Poppins', 'sans-serif';
  --color-theme-primary: #f231a5;
  --color-theme-secondary: #3cd3c1;
  --color-theme-gray-100: #f2f2f2;
  --color-theme-gray-200: #eaeaea;
  --color-theme-gray-300: #d9d9d9;
  --color-theme-gray-500: #8f8f8f;
  --color-theme-gray-800: #2e2f42;
  --color-theme-gray-900: #06092b;
  --color-theme-gray-950: #030517;
  --animate-grow-from-center: grow-from-center 0.2s forwards;

  @keyframes grow-from-center {
    from {
      width: 0;
      left: 50%;
    }
    to {
      width: 100%;
      left: 0;
    }
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px theme(--color-theme-gray-200) inset;
}

input::-webkit-search-cancel-button {
  display: none;
}

@utility custom-clip-path {
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 100%);

  @media (min-width: theme(--breakpoint-lg)) {
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
  }
}

@utility custom-clip-path-secondary {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

@utility max-w-container {
  @apply max-w-[1200px] 2xl:max-w-[1300px];
}
