.gallery {
  & :global(div.slick-track) {
    display: flex;
    padding: 0 8px;
  }

  & :global(div.slick-list) {
    display: flex;
    overflow: visible;
  }

  & :global(.slick-arrow) {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    fill: var(--color-zinc-50);
    transition: transform 100ms ease-in-out;
  }

  & :global(.slick-disabled) {
    display: none !important;
  }

  & :global(.slick-prev) {
    left: -35px;

    &:hover {
      transform: translate(-4px, -50%);
    }
  }

  & :global(.slick-next) {
    right: -35px;

    &:hover {
      transform: translate(4px, -50%);
    }
  }

  & :global(.slick-slide) {
    aspect-ratio: 16/9;
  }

  & :global(.slick-slide > div) {
    padding: 0 8px;
    height: 100%;
    position: relative;
  }
}

@media (min-width: 1280px) {
  .gallery {
    & :global(.slick-prev) {
      left: -55px;
    }

    & :global(.slick-next) {
      right: -55px;
    }
  }
}
@media (min-width: 1280px) {
  .gallery {
    & :global(div.slick-list) {
      overflow: hidden;
      min-width: var(--container-3xl);
    }

    & :global(div.slick-track) {
      padding: 0;
    }
  }
}

@media (min-width: 1920px) {
  .gallery {
    & :global(div.slick-list) {
      overflow: hidden;
    }
  }
}

.modal {
  & :global(div.slick-list) {
    overflow: hidden;
  }

  &[aria-hidden='true'] {
    opacity: 0;
    pointer-events: none;
  }

  &[aria-hidden='false'] {
    opacity: 1;
  }
}
